body {
    margin: 60px auto;
    width: 70%;
    background-color: #151515; /* Dark gray background */
    font-size: 0.9em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    color: #eeeeee;
}
nav ul, footer ul {
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #988;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.7em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.3em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.2em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #ffffff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}

ul.posts li {
    font-size: 1em;
    list-style: none;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}
table {
  width: 100%; /* Make the table occupy the full width of the container */
  table-layout: auto; /* Default behavior, adjusts to content */
}

table th, table td {
  word-wrap: break-word; /* Allow content to wrap */
  min-width: 200px; /* Set a minimum width for cells */
}